name: PyTest

on:
  pull_request:
    branch: master
    paths:
      - '**.py'
      - '**/pytest.yaml'
      - 'pyproject.toml'
      - 'poetry.lock'
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      POETRY_CACHE_DIR: .poetry_cache
      POETRY_VIRTUALENVS_IN_PROJECT: "true"
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache
        exclude:
        # gh runner throws "Error: Version ${{ matrix.pyversion }} with arch arm64 not found"
        - os: macos-latest
          pyversion: "3.9"

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Cache Poetry virtualenv and cache
        uses: actions/cache@v5
        with:
          path: |
            .venv
            .poetry_cache
          key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-${{ hashFiles('poetry.lock') }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Install Dependencies
        run: python -m poetry install --no-interaction
        shell: bash

      - name: Run test suite
        env:
          PYTEST_NETWORK: mainnet
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN  }}
        run: python -m poetry run pytest
        shell: bash
      
